## Libraries

In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
from linearmodels.panel.model import PanelOLS
from statsmodels.regression.linear_model import OLS

## Checking for Causality

In [2]:
df = pd.read_csv('311_borough_weather.csv')
df['Y-M-d'] = pd.to_datetime(df['Y-M-d'])

A helper function to decompose a series of values into 3 signals - trend, seasonal, residual

In [3]:
def create_trend_seasonality_error(data, cols): 
    for col in cols:
        res = sm.tsa.seasonal_decompose(data[col], period=12, extrapolate_trend='freq')
        data[col+'_trend'] = res.trend
        data[col+'_seasonal'] = res.seasonal
        data[col+'_error'] = res.resid      
    return data

Label encoding the different boroughs with a value

In [4]:
borough_mapper = {}

for index, value in enumerate(df['Borough'].unique()):
    borough_mapper[value] = index

df['Borough'] = df['Borough'].map(borough_mapper)

In [5]:
df

          Y-M-d  Borough  Count        Date  DailyMeanTemp  DailyTempStd
0    2016-01-01        0    689  2016-01-01      41.250000      0.758068
1    2016-01-01        1    858  2016-01-01      41.250000      0.758068
2    2016-01-01        2    558  2016-01-01      41.250000      0.758068
3    2016-01-01        3    606  2016-01-01      41.250000      0.758068
4    2016-01-01        4     69  2016-01-01      41.250000      0.758068
...         ...      ...    ...         ...            ...           ...
6571 2018-12-31        1   1382  2018-12-31      47.500135     12.899035
6572 2018-12-31        2    652  2018-12-31      47.500135     12.899035
6573 2018-12-31        3    939  2018-12-31      47.500135     12.899035
6574 2018-12-31        4    213  2018-12-31      47.500135     12.899035
6575 2018-12-31        5     14  2018-12-31      47.500135     12.899035

[6576 rows x 6 columns]

Aggregating the data on a daily level

In [6]:
df_weather_week = df.groupby('Y-M-d').agg({'DailyMeanTemp': 'unique', 'DailyTempStd': 'unique'})

In [7]:
df_weather_week = df_weather_week.reset_index()
df_weather_week['DailyMeanTemp'] = df_weather_week['DailyMeanTemp'].apply(lambda x: x[0])
df_weather_week['DailyTempStd'] = df_weather_week['DailyTempStd'].apply(lambda x: x[0])

Calculating the lagged features from AR term - 7 and MA featurs - 2, for each borough

In [8]:
ets_train_data_master = pd.DataFrame()
for i in df['Borough'].unique():
    df_boro = df[df['Borough'] == i]
    df_boro = df_boro.reset_index(drop = True)
    df_boro.sort_values(by = 'Y-M-d', inplace = True)

    lagged_train_data = df_boro.copy()
    trailing_window_size = 7
    df_boro_lags = pd.DataFrame()

    for window in range(1, trailing_window_size + 1):
        shifted = df.loc[:, 'Count'].shift(window)
        df_boro_lags[f'lag_{window}'] = shifted
        
    df_boro_lags['Y-M-d'] = df_boro['Y-M-d']

    df_boro_lags = pd.merge(df_boro, df_boro_lags, how = 'inner', on = 'Y-M-d')

    ets_train_data = create_trend_seasonality_error(df_boro_lags.copy(), ['Count'])
    
    ets_train_data['MA_1'] = ets_train_data['Count'].rolling(1).mean().shift(1)
    ets_train_data['MA_2'] = ets_train_data['Count'].rolling(2).mean().shift(2)
    
    ets_train_data = ets_train_data.dropna()
    ets_train_data_master = pd.concat([ets_train_data_master, ets_train_data])

The data being in a panel format, we perform a Panel OLS to account for time dummies and fixed effects. <br>
After having accounted for both, we get a p-value for DailyMeanTemp < 0.05 <br>
This implies that temperature does play a role in predicting the number of calls

In [9]:
ets_train_data_master['Date'] = pd.to_datetime(ets_train_data_master['Date'])
ets_train_data_master['Year'] = ets_train_data_master['Date'].apply(lambda x: x.year)
ets_train_data_master['Month'] = ets_train_data_master['Date'].apply(lambda x: x.month)
ets_train_data_master['Day'] = ets_train_data_master['Date'].apply(lambda x: x.day)

del ets_train_data_master['Date']

In [10]:
ets_train_data_master = pd.get_dummies(ets_train_data_master, columns=['Year', 'Month', 'Day'], drop_first=True)

The effect of temperature can hence be said is significant

In [11]:
ets_train_data_master = ets_train_data_master.set_index(['Borough', 'Y-M-d'])
cols = list(ets_train_data_master.columns)

cols.remove('Count')
cols.remove('Count_trend')
cols.remove('Count_seasonal')
cols.remove('Count_error')

mod = PanelOLS(ets_train_data_master['Count'], ets_train_data_master[cols],
            entity_effects=True, drop_absorbed=True)
res = mod.fit(cov_type='clustered', cluster_entity=True)
print(res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  Count   R-squared:                        0.3959
Estimator:                   PanelOLS   R-squared (Between):              0.6986
No. Observations:                6534   R-squared (Within):               0.3959
Date:                Sun, Dec 25 2022   R-squared (Overall):              0.6856
Time:                        07:03:48   Log-likelihood                -4.173e+04
Cov. Estimator:             Clustered
                                        F-statistic:                      78.575
Entities:                           6   P-value                           0.0000
Avg Obs:                       1089.0   Distribution:                 F(54,6474)
Min Obs:                       1089.0
Max Obs:                       1089.0   F-statistic (robust):         -1.638e+17
                                        P-value                           1.0000
Time periods:                    1089   Distribution:                 F(54,6474)
Avg Obs:                       6.0000
Min Obs:                       6.0000
Max Obs:                       6.0000

                               Parameter Estimates
=================================================================================
               Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
---------------------------------------------------------------------------------
DailyMeanTemp    -1.6306     0.8186    -1.9919     0.0464     -3.2353     -0.0258
DailyTempStd      0.9573     0.8654     1.1062     0.2687     -0.7392      2.6539
lag_1             0.0087     0.0059     1.4591     0.1446     -0.0030      0.0203
lag_2            -0.0173     0.0055    -3.1557     0.0016     -0.0281     -0.0066
lag_3            -0.0125     0.0057    -2.1980     0.0280     -0.0237     -0.0014
lag_4            -0.0120     0.0042    -2.8261     0.0047     -0.0203     -0.0037
lag_5            -0.0157     0.0064    -2.4607     0.0139     -0.0281     -0.0032
lag_6            -0.0082     0.0033    -2.4598     0.0139     -0.0147     -0.0017
lag_7            -0.0231     0.0094    -2.4505     0.0143     -0.0416     -0.0046
MA_1              0.5290     0.0209     25.286     0.0000      0.4880      0.5700
MA_2              0.0143     0.0500     0.2857     0.7751     -0.0838      0.1124
Year_2017         9.4184     12.788     0.7365     0.4614     -15.650      34.487
Year_2018         53.608     29.850     1.7959     0.0726     -4.9075      112.12
Month_2          -18.215     7.5298    -2.4190     0.0156     -32.975     -3.4536
Month_3          -20.119     10.141    -1.9840     0.0473     -39.999     -0.2400
Month_4          -18.351     12.000    -1.5292     0.1263     -41.875      5.1735
Month_5           24.474     8.6664     2.8240     0.0048      7.4852      41.463
Month_6           63.937     22.055     2.8990     0.0038      20.702      107.17
Month_7           65.649     23.058     2.8471     0.0044      20.447      110.85
Month_8           57.291     21.057     2.7207     0.0065      16.012      98.569
Month_9           56.133     20.650     2.7183     0.0066      15.652      96.614
Month_10          56.769     20.571     2.7596     0.0058      16.443      97.096
Month_11          20.861     9.0627     2.3018     0.0214      3.0948      38.627
Month_12         -2.5484     5.4811    -0.4649     0.6420     -13.293      8.1963
Day_2             6.9010     3.6228     1.9049     0.0568     -0.2009      14.003
Day_3            -5.3686     3.1391    -1.7102     0.0873     -11.522      0.7851
Day_4            -19.264     7.9411    -2.4258     0.0153     -34.831     -3.6967
Day_5             36.803     12.509     2.9422     0.0033      12.282      61.324
Day_6             1.0551     3.0317     0.3480     0.7278     -4.8880      6.9983
Day_7             15.224     5.8557     2.5998     0.0093      3.7447      26.703
Day_8            -8.5311     3.4958    -2.4404     0.0147     -15.384     -1.6782
Day_9             3.2270     4.2099     0.7665     0.4434     -5.0259      11.480
Day_10            1.8046     3.6349     0.4965     0.6196     -5.3211      8.9302
Day_11            13.643     4.3815     3.1138     0.0019      5.0539      22.232
Day_12            13.460     5.2337     2.5718     0.0101      3.2001      23.720
Day_13            4.7203     5.5526     0.8501     0.3953     -6.1646      15.605
Day_14            9.5485     4.4566     2.1426     0.0322      0.8122      18.285
Day_15            26.497     8.2503     3.2117     0.0013      10.324      42.670
Day_16            25.163     8.5821     2.9320     0.0034      8.3393      41.987
Day_17            3.0556     5.5728     0.5483     0.5835     -7.8689      13.980
Day_18           -5.4389     3.0672    -1.7732     0.0762     -11.452      0.5739
Day_19            28.826     9.4053     3.0649     0.0022      10.389      47.264
Day_20           -8.3776     2.1042    -3.9813     0.0001     -12.503     -4.2526
Day_21           -6.9039     4.6328    -1.4902     0.1362     -15.986      2.1780
Day_22            12.740     5.9531     2.1400     0.0324      1.0698      24.410
Day_23           -17.584     6.2560    -2.8107     0.0050     -29.848     -5.3198
Day_24           -16.470     6.6188    -2.4883     0.0129     -29.445     -3.4945
Day_25           -8.5199     3.2795    -2.5979     0.0094     -14.949     -2.0910
Day_26            26.683     7.9795     3.3440     0.0008      11.041      42.326
Day_27            15.055     4.2743     3.5222     0.0004      6.6761      23.434
Day_28            0.5368     3.6171     0.1484     0.8820     -6.5539      7.6275
Day_29            9.3536     4.0081     2.3337     0.0196      1.4964      17.211
Day_30           -1.3709     3.8940    -0.3521     0.7248     -9.0045      6.2627
Day_31            2.6117     8.7787     0.2975     0.7661     -14.597      19.821
=================================================================================

F-test for Poolability: 222.60
P-value: 0.0000
Distribution: F(5,6474)

Included effects: Entity